@import "../../../../src/partials/flex";

.Container {
    @include flex(space-between);

    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    padding: 20px;
    height: 600px;
    width: 1080px;
}
